.div-fix-height {
    height : 60px;
}

.div-fix-top-margin {
    margin-top : 62px;
}

.div-card-height{
    height: 150px;
}

.make-center {
    display: flex;
    justify-content: center;
    align-items: center;
}